<h1><%= @topic.topic %></h1>
<div id="topicKeywordList">
  <%= @topic.keyword_list %>
</div>
<h2>Add to the Conversation:</h2>
    <%= render :partial => 'comments/form', :locals => { :comment => @new_comment } %>
<h2>Conversation</h2>
    <% if @comments.count > 0 %>
        <%= render :partial => 'comments/comment', :collection => @comments, :as => :comment %>
    <% else %>
        <p>No conversation started yet... how about getting the ball rolling?</p>
    <% end %>